/* src/components/cardwithtabs/CardWithTabs.css */

.card-with-tabs {
    width: 100%;
    border: none;
    margin: 20px 0;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 10px;
    overflow-x: auto;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .tabs button.active {
    background-color: none;
  }
  
  .tab-content {
    max-height: 200px;
    overflow-y: auto;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .card-with-tabs {
      margin: 10px 0;
      padding: 15px;
    }
  
    .tabs button {
      padding: 8px;
    }
  
    .tab-content {
      max-height: 150px;
    }
  }
  
  @media (max-width: 480px) {
    .card-with-tabs {
      margin: 5px 0;
      padding: 10px;
    }
  
    .tabs button {
      padding: 6px;
    }
  
    .tab-content {
      max-height: 100px;
    }
  }
  .card-with-tabs {
    width: 100%;
    border: none;
    margin: 20px 0;
    padding: 20px;
    background-color: transparent; /* This line sets the background to transparent */
    border-radius: 8px;
}
.card-with-tabs {
    background-color: rgba(#3A3F47); /* 50% transparent white background */
}